
<h2>ENTER YOUR DETAILS IF YOU WANT TO ADOPT</h2>

<form  action="/owners" method="post">

<div class="add-animal"
    <label for="owner_name">Enter Your Name:</label>
    <input class="input"
    type="text"
    name="name"
    id="owner_name"
    />
    <label for="owner_city">Enter Your City:</label>
    <input class="input"
    type="text"
    name="city"
    id="owner_city"
    />
    <label for="owner_phone_number">Enter Your Phone Number:</label>
    <input class="input"
    type="text"
    name="phone_number"
    id="owner_phone_number"
    />
    <input class="button" type="submit" value="Register Owner">
    </div>
</form>

<h3>ANIMAL OWNERS:</h3>
<div class="display">

<% @owners.each do |owner| %>
  <p>Name: <%=owner.name%></p>

  <% owner.animal.each do |animal| %>
  <p>Animal: <%=animal.name%></p>
    <%end%>

  <p><a class="button" href="/owners/<%=owner.id%>">More Information</a></p>

<%end%>

</div>
