<form  action="/owners" method="post">
<fieldset>
    <label for="owner_name">Enter your Name:</label>
    <input
    type="text"
    name="name"
    id="owner_name"
    />
    <label for="owner_city">Enter your city:</label>
    <input
    type="text"
    name="city"
    id="owner_city"
    />
    <label for="owner_phone_number">Enter your phone number:</label>
    <input
    type="text"
    name="phone_number"
    id="owner_phone_number"
    />
</fieldset>
    <input type="submit" value="Register Owner">
</form>
