<h1>Welcome  To CodeClan Animal Shelter</h1>
<div class="lay-index">
<p>Every year we rehome thousands of animals to wonderful and loving new homes. You may find the following information helpful:</p>

<h3>Opening hours</h3>
<p>Our rehoming centres are open to the public 10am to 4pm six days a week (closed on Tuesday)</p>

<h3>Reserved animals</h3>
<p>You will see some of the animals are already reserved. This means someone has agreed to rehome them. It is likely we are waiting on veterinary treatment to be completed before they can go to their new home.

Once animals are reserved we try and update our website as quickly as possible to avoid causing any disappointment. We appreciate you may wish to enquire about a reserved animal and our rehoming team will be happy to provide you with any information they can and discuss any other suitable rescue pets who may suit your needs.</p>

<h3>Calling our centres</h3>
If you would like to ask about any of the animals in our care looking for new homes you can call us on 03000 999 999 (option 2).

We definitely recommend calling ahead if you are keen to rehome one of the wonderful rescue pets on our website to make sure they are still available.

<h3>Visiting our centres</h3>
You can find your nearest Scottish SPCA rehoming centre or where the animal you are interested in is being cared for here.

When you arrive please ask our rehoming team for any information you require or help with finding the right rescue pet for your home.

<h3>Home checks</h3>
We often carry out home checks before deciding if one of our rescue pets can be rehomed to a potential new owner. This will depend on the type of animal and the owner's individual circumstances and home. For example, we may want to ensure an energetic large breed dog has a safe and secure garden.

You will be informed by our rehoming team if a pre-homing check is required.

<h3>Rehoming conditions</h3>
All animals are rehomed by the Scottish SPCA subject to our rehoming conditions.

<h3>Pre-homing questionnaires</h3>
Everyone interested in rehoming a rescue pet will be asked to complete a pre-homing questionnaire. If you wish you can download, print and complete the relevant questionnaire before visiting us.
</div>
