<!DOCTYPE html>
<html>
<head>
  <title>My Animal Shelter</title>
<link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>

  <div class="topnav">
  <a href="/">Home</a>
  <a href="/animals">Animals</a>
  <a href="/owners">Owners</a>
  <a href="/animals/new">Abandon</a>
</div>
<img src="https://ccgov.s3.amazonaws.com/portal/557058a95b9bd.jpg" class="image">
  <%= yield %>

</html>
