<!DOCTYPE html>
<html>
<head>
  <title>My Animal Shelter</title>
<link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
  <div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/animals">Animals</a>
  <a href="/owners">Owners</a>
  
</div>
</body>
  <%= yield %>
</html>
