
.topnav {


  text-align: center;
    line-height: 1.5;
    word-spacing: 2em;
    text-transform: uppercase;
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
    background-color: black;
    border-width: 4px;
    border-style: groove;
    width: 100%;
}
.topnav a{
  color: white;
  text-decoration: none;
}


.button {
  border: 1px solid red;
  border-radius: 5px;
  padding: 10px;
  width: 150px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
}

.add-animal {
  display: grid;
  justify-content: center;
  font-size: 18px;
  margin: 50px;
  position: relative;
}
.select {
  position: relative;
  height: 22px;
  margin: 10px 10px 10px 0px;
  width: 40%;
  background-color: white;
  font-size: 18px;
}
.select1 {
  position: relative;
  height: 22px;
  margin: 10px 10px 10px 0px;
  width: 180px;
  background-color: white;
  font-size: 18px;
}
.input{
  position: relative;
  height: 20px;
  margin: 10px 10px 10px 0px;
  width: 80%;
  background-color: white;
  font-size: 18px;
  border: 1px solid grey;
}
.owners {
  display: grid;
  border: 1px solid black;

}
.image{
  width: 700px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h2{
  text-align: center;
}
h1{
text-align: center;
}
.display{
  display:table-row;
  background-color: #FFF8DC;
  width: 235px;
  left: 10px;
  position: absolute;
}
.lay-index{
  width: 80%;
  position: absolute;
  left: 100px;
  display: block;
}
