body {
  font-family: 'Montserrat', sans-serif;
  color: black;
  background: url('/images/kotki.jpg');
  background-size: 100%;
  background-repeat: repeat;
}
.topnav {
  background-color: white;
  width: 190px;
  position: relative;

  border-radius: 5px;
}

.na-nav {
  background-color: white;
  width: 190px;
  position: relative;
  top: 13px;
  border-radius: 5px;
}
nav a {

  color:white;
	font-size: 16px;
	text-decoration: none;
  }
h1 {
  text-align: left;
}

div {
background: white;
width: 200px;
}
.dom {
  position: relative;
  top: 12px;
  width: 100%;
}
.dom1{
  position: relative;
  top: 42px;
}
.button{
  position: relative;
  top: 24px;
}
