<h1>Adopt  This Animal</h1>


<p><%=@animal.name%></p>

<form action="/animals/<%=@animal.id%>/adopt" method="post">
<fieldset>

    <label for="owner-select">Select Owner:</label>
    <select name="owner_id" id="owner_id">
      <% @owners.each do |owner| %>
          <option value=<%= owner.id %>><%= owner.name%></option>
        <% end %>
      </select>

</fieldset>
  <input type="submit" name="ready_adoption" id="ready_adoption" value="Yes">
   <input type="submit" value="Adopt Animal">
</form>
