<h2>ADOPT THIS ANIMAL: </h2>

<h2><%=@animal.name%></h2>


<form action="/animals/<%=@animal.id%>/adopt" method="post">

<div class="add-animal">
    <label for="owner-select">Select Owner:</label>
    <select class="select1" name="owner_id" id="owner_select">

      <% @owners.each do |owner| %>
          <option value=<%= owner.id %>><%= owner.name%></option>
        <% end %>
      </select>


  <input type="hidden" name="ready_adoption" id="ready_adoption" value="No">
   <input class="button" type="submit" value="Adopt Animal">
   <div>
</form>
