<h1>Adopt an Animal</h1>

<form  action="/animals" method="post">
<fieldset>
  <label for="animal_select">Select Animal to Adopt:</label>
    <select name="animal_id" id="animal_select">
      <option value="Neo">Neo</option>
      <option value="Morpheus">Morpheus</option>
      <option value="Trinity">Trinity</option>
    </select>
</fieldset>
<fieldset>
    <label for="species">Select type of animal:</label>
    <select name="type" id="species">
      <option value="Cat">Cat</option>
      <option value="Dog">Dog</option>
    </select>
<fieldset>
    <label </label>
    <input type="text" name="ready_adoption" id="yes"/>
</fieldset>



    <input type="submit" value="Adopt Animal">
</form>
