<div class = "na-nav"

</div>
 <h3>ANIMALS WE HAVE:</h3>
<div>


<div class="display">
  <% @animals.each do |animal| %>

  <p>Type: <%=animal.type%> </p>


  <% if animal.ready_adoption() == "t" %> <span>Is the Animal Adoptable: Yes</span>
  <% end %>
  <% if animal.ready_adoption() == "f" %> <span>Is the Animal Adoptable: No</span>
  <% end %>

  <p>Owner: <%=animal.owner.name if animal.owner%></p>

<p><a class="button" href="/animals/<%=animal.id%>">More Information</a></p>


<%end%>
</div>
