
<form  action="/animals" method="post">
<div class = "add-animal">



    <label for="name">Animal Name:</label>
    <input class="input" type="text" name="name" id="name"/>

  <label for="type">Select type of animal:</label>
    <select class="select" name="type" id="type">
      <option value="Cat">Cat</option>
      <option value="Dog">Dog</option>
</select>

      <label for="breed">Breed:</label>
      <input class="input" type="text" name="breed" id="breed"/>

  <label for="admission_date">Today's Date:</label>
    <input class="input" type="text" name="admission_date" id="admission_date"/>


<label for="ready_adoption">Animal ready for adoption</label>
<select class="select" name="ready_adoption" id="ready_adoption">
  <option value="Yes">Yes</option>
  <option value="No">No</option
    </select>
    </div>
    </form>





<input class="button" type="submit" value="Add Animal">
</form>
</div>
