


<form  action="/animals" method="post">

<div class="new_an">
    <label for="name">Animal Name:</label>
    <input
    type="text"
    name="animal_name"
    id="name"
    />

  <label for="species">Select type of animal:</label>
    <select name="type" id="species">
      <option value="Cat">Cat</option>
      <option value="Dog">Dog</option>



    </select>

  <label for="date">Today's Date:</label>
    <input type="text" name="admission_date" id="date"/>




<input type="hidden" name="available" id="available" value="yes">
    <input class="button" type="submit" value="New Animal">
    </div>
</form>
